div
{
  font-size: 1.3em;
  padding: 4px;
}
#caixa
{
  width: 100px;
  height: 100px;
  float: left;
  border: 5px solid blue;
  color: blue;
}
#caixa2
{
  width: 200px;
  height: 200px;
  border: 5px solid red;
  color: red;
}